.cache
.git
.shopify
.shopify.lock
build
node_modules
.env
.env.*
prisma/dev.sqlite
prisma/dev.sqlite-journal
npm-debug.log*
Dockerfile
docker-compose*.yml
database.sqlite
*.db
*.sqlite
extensions/*/dist
